body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url("/rings-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.h1 {
    color: white;
    font-family: Gudea;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
    line-height: 80px !important;
}

.root {
    /* margin-top: 32px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100% !important;
    position: relative;
    /* padding-bottom: 150px; */
}

.button {
    margin: 24px 0 16px !important;
    background: red !important;
    font-family: 'Inria Sans' !important;
    color: white !important;
    margin-top: 40px !important;
    text-align: center !important;
    padding: 6px 12px !important; 
    width: 200px !important;
    margin-top: 70px !important;
}

.subh {
    color: white !important;
    font-family: Inter !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
    /* font-family: sans-serif !important; */
    font-size: 28px !important;
    font-weight: 100 !important;
}

.text {
    color: rgb(176, 172, 172) !important;
    font-family: Gudea !important;
    font-size: 15px !important;
    margin-top: 15px !important;
}

.h1p2 {
    color: rgb(122, 116, 116) !important;
    font-size: 60px !important;
    text-align: center !important;
    padding-bottom: 60px;
    font-weight: 300;
}

.servicesContainer {
    display: flex;
    justify-content: space-around;
    gap: 20px !important;
}

.serviceBox {
    background-color: #ff5e5e45;
    box-shadow: 0px 5px 13px 0px #0000001C;
    margin: 20px;
    padding: 25px ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

.serviceBox h1 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.sbp {
    font-size: 10px;
    color: rgb(75, 75, 75);
    text-align: center;
}

.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url("/pawn-about-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.sec3p {
    color: white;
    text-align: justify;
    padding-right: 40px;
}

@font-face {
    font-family: 'Gwendolyn';
    src: url('/Gwendolyn.ttf') format('truetype');
}

.fullScreen {
    height: 50%;
    width: 100%;
}

.marginTop {
    margin-top: 100px;
    margin-bottom: 200px;
}

@media only screen and (max-width: 600px) {
    .root {
      flex-direction: column;
      align-items: center;
    }
  
    .servicesContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .serviceBox {
      width: 80vw;
      margin-bottom: 20px;
    }
  
    .fullScreen {
      height: 100%;
    }

    .mainhead {
        font-size: 40px !important;
    }

    .text {
        text-align: center;
        margin: 20px !important;
        padding: 10px !important;
    }

    .subh {
        font-size: 20px !important;
        text-wrap: wrap !important;
        width: 100%;
        margin: 20px !important;
        text-align: center;
    }
  
    .sec3p, .sec3h {
      padding: 20px;
    }

    .sec3h-1 {
        font-family: gwendolyn !important;
        font-size: 10px !important;
    }

    .maxwidth70 {
        max-width: 70% !important;
    }

    .maxwidth80 {
        max-width: 80% !important;
    }

    .topspace {
        /* margin-top: 80px !important; */
        position: absolute;
    }

    .aboutContainer {
        display: flex;
        margin-top: 40px !important;
        height: auto !important;
        flex-wrap: nowrap !important;
        flex-direction: column !important;
    }

    .aboutp {
        width: 100% !important;
        padding: 20px !important;
    }

    .services {
        height: auto !important;
    }
}
