body {
    background-color: black (255, 255, 255) !important;
}

h2 {
    color: #FFB714;
    text-align: center;
}

.image {
    margin: 15px;
    padding-bottom: 30px;
    text-align: center;
}

.collection-tile {
    padding: 20px;
    margin: 20px;
    background-color: black;
}

.tile {
    /* border: 1px solid #000; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
}

.tile:hover {
    transform: scale(1.20);
    z-index: 1;
}

.collection-button {
    display: flex;
    background-color: #FFB714;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.selected-tab {
    font-weight: bold;
    text-decoration: underline;
}
