.footer-main {
    height: auto;
    width: 100%;
    margin-top: auto 0;
    background-color: rgb(153, 151, 151) !important;
    display: flex !important;
    justify-content: space-between;
    padding: 15px 20px ;
    align-items: center;
}

.left-container {
    width: 50%;
    height: 100% !important;
}

.home {
    font-family: 'sans-serif' !important;
    font-size: 20px !important;
}

.right-container {
    /* width: 50%; */
    /* height: 100%; */
}

.routerlink {
    height: 20px !important;
}

.links {
    color: white !important;
    height: auto !important;
    padding-bottom: 0 !important;
    font-family: 'sans-serif' !important;
    font-size: 15px !important;
    /* lowercase */
    text-transform: lowercase !important;
}

@media (max-width: 600px) {
    .footer-main {
        height: 100% !important;
        padding-bottom: 45px;
    }

    .left-container, .right-container {
        width: 100%;
    }

    .right-container {
        display: flex !important;
        flex-direction: column !important;
        justify-content: right !important;
        align-items: flex-end !important;
    }

    .home {
        font-size: 16px !important;
    }

    .links {
        font-size: 12px !important;
    }
}
