.slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh; 
    background-size: 50% 100%; 
    background-repeat: no-repeat;
    background-position: left center;
    background-color: transparent !important;
}

body {
    background-image: url('/background-women-4.png') ;
    /* background-color: rgba(0, 0, 0, 0) !important; */
    background-position: right; 
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-attachment: fixed;
    height: 100vh !important;
}

.slide-except-image {
    background-color: transparent !important;
    height: 100% !important;
}

.slide-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black !important;
    height: 100% !important;
    object-fit: cover;
}

.slide-content button {
    background: #FFB714;
    font-family: 'Inria Sans';
    color: black;
    margin-top: 50px; 
}

.slider {
    height: auto;
}

.slide-content h1 {
    font-family: 'Felix Titling';
    font-size: 70px;
    font-weight: 400;
    line-height: 85px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255);
    width: 70%;
}

.slide-content p {
    width: 65%;
    color: white !important;
    text-align: justify;
    font-family: 'Inria Sans' !important;
    font-size: 18px;
    font-weight: 100 !important; 
}

.buttonsnextprev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff; 
}

.buttonsnextprev:first-child {
    left: 10px;
}

.buttonsnextprev:last-child {
    right: 10px;
}

.slide {
    position: relative;
    width: 50%;
    height: 150%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 80px;
}

.slide-content {
    text-align: left;
    padding-bottom: 100px;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    transform: translateX(-50%);
    bottom: 0;
    /* margin-bottom: 20px; */
    left: 50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0) !important; 
}

.dot {
    height: 20px;
    width: 20px;
    margin: 0 10px;
    background-color: transparent;
    border: 1px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #717171;
}

@media (max-width: 768px) {
    .slider {
        background-size: 100% 50%;
    }

    .slide-content {
        padding: 0 20px;
    }

    .dots {
        bottom: 20px;
    }
}
