.slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh; 
    background-size: 50% 100%; 
    background-repeat: no-repeat;
    background-position: left center;
}

body {
    background-image: url('/background-women-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.slide-content button {
    background: #FFE55E;
    font-family: 'Inria Sans';
    color: black;
    margin-top: 20px; 
}

.slide-content h1 {
    font-family: 'Felix Titling';
    font-size: 80px;
    font-weight: 400;
    line-height: 85px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    width: 65%;
}

.slide-content p {
    width: 65%;
    text-align: justify;
}

.buttonsnextprev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff; 
}

.buttonsnextprev:first-child {
    left: 10px;
}

.buttonsnextprev:last-child {
    right: 10px;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 800px;
}

.slide-content {
    text-align: left;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 20px;
    left: 50%;
    width: 100%;
}

.dot {
    height: 20px;
    width: 20px;
    margin: 0 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #717171;
}

@media (max-width: 768px) {
    .slider {
        background-size: 100% 50%;
    }

    .slide-content {
        padding: 0 20px;
    }

    .dots {
        bottom: 20px;
    }
}
