.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide img {
    width: 100px; 
    height: 100vh;
}

.slide p {
    margin-left: 10px;
}

button img {
    width: 40px; 
}
