body {
    /* background-color: #FFFDCE !important; */
    font-size: 25px;
}

nav {
    color: black;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: transparent;
    padding: 10px;
    padding-right: 40px;
}

nav a {
    padding: 20px;
    padding-right: 50px;
    text-decoration: none;
    color: inherit;
}

/* Navbar.css */
.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px; 
}

.first-link {
    margin-left: auto;
}

.productsbtn {
    font-size: 25px;
    padding: 0px;
    padding-right: 0px;
    text-decoration: none;
    color: inherit;
}

.links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

/* Dropdown Button */
.dropbtn {
    color: black;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.menu-button {
    display: none;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
    }

    nav {
        position: fixed;
        height: 100vh;
        width: 80%;
        flex-direction: column;
        justify-content: start;
        padding: 20px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        background-color: #fff; /* Add a background color */
        z-index: 1000; /* Ensure the nav is above other elements */
    }

    nav.active {
        transform: translateX(0);
    }
}
