.ProductsPage {
    background-color: #000000; 
    /* background-color: #FFFDCE !important; */
}

h1 {
    text-align: center;
    color: #FFB714;
    position: relative;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 20px;
}

p {
    text-align: center;
    color: #FEE29B !important;
    padding-bottom: 50px;
}

.category-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 30px; */
}

.categoryTab {
    margin: auto 0;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    color: #FEE29B !important;
    font-weight: 200;
    font-size: 15px !important;
}

.categoryTab.selected-tab {
    color: #FFB714 !important; 
    border: none; 
    font-weight: 600;
}

.product-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    padding: auto;
}

.intro-text {
    margin-bottom: 40px;
    color: #FFB714 !important;
    font-family: 'Inter' !important;
    font-weight: 100;
    font-size: 20px !important;
}

.topic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

@media (max-width: 600px) {
    .ProductsPage {
        position: static !important;
        width: 100%;
    }

    h1 {
        font-size: 30px;
        line-height: 15px;
    }

    p {
        padding-bottom: 30px;
    }

    .category-buttons {
        flex-direction: column;
        padding-bottom: 20px;
        margin-bottom: 0px !important;
    }

    .categoryTab {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .product-tiles {
        flex-direction: column;
        align-items: center;
    }

    .topic {
        margin-bottom: 0px !important;
        height: fit-content;
        padding: 90px 0;
        margin-top: 40px;
    }

    .intro-text {
        margin-bottom: 20px;
        font-size: 16px;
    }
}
