body {
    background-color: #FFFFFF; 
}

h1 {
    text-align: center;
    color: black;
    position: relative;
    margin-bottom: 20px;
    font-size: 40px;
}

p {
    text-align: center;
    color: black !important;
}

.product-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.topic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.intro-text {
    margin-bottom: 40px;
}
