html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: black !important;
    /* background-color: black !important; */
}

body::after {
    background-color: transparent;
}

.App {
    display: flex !important;
    flex-direction: column !important;
    /* min-height: 100%; */
}

.HomeContent {
    flex-grow: 1;
}

/* .Footer {
    margin-top: auto;
} */

@media (max-width: 600px) {
    .ProductsPage {
        height: auto !important;
        position: absolute !important;
    }
}
