html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #080808 !important;
}

body::after {
    background-color: transparent;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.HomeContent {
    flex-grow: 1;
}

.Footer {
    margin-top: auto;
}
