.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,253,206,1) 65%, rgba(255,253,206,1) 100%);
    background-size: cover;
}

p {
    color: black !important;
}

.image-container {
    position: absolute;
    left: 0;
    z-index: -1;
    background-color: black !important;
    height: 100vh !important;
    width: 100vw !important;
}

.couple-img {
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: 'Gwendolyn';
    src: url('/Gwendolyn.ttf') format('truetype');
}

@media (max-width: 600px) {
    .container {
        display: static !important;
        background: linear-gradient(0deg, rgba(255,253,206,1) 0%, rgba(255,253,206,1) 15%, rgba(2,0,36,0) 100%) !important;
    }
    
    /* .image-container {
        position: static;
        height: auto;
        width: 100%;
    }
    */
    .rightAlignBox {
        width: auto !important;
        height: 100% !important;
        padding: 80px 20px 0px 20px !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-end !important;
    }

    .topic {
        font-size: 50px !important;
        font-weight: 600 !important;
        /* lower line space */
        line-height: 1.15 !important;
        text-align: center !important;
        /* padding-right: 30px; */
        /* margin-bottom: 30px !important; */
    }

    .para {
        font-size: 15px !important;
        line-height: 1.15 !important;
        font-weight: 100 !important;
        text-align: center !important;
        padding-right: 20px;
        padding-top: 20px !important;
        margin-left: 30px !important;
    }

    .couple-img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: left;
    }
}
